


#assignment-container{
    background-color: var(--background-color);

    padding: 2em;
    width: 85%;
    margin: 2em auto;
    border-radius: 4px;
    box-shadow: 2px 2px 20px rgb(218, 218, 218) inset;
}

#assignment-container button{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--highlight-color);
    background-color: rgba(255, 255, 255, 0);
    padding: .5em;
    border-radius: 20px;
    border: 3px solid var(--highlight-color);

    cursor: pointer;

}

.nf-assignment-score{
    box-shadow: 2px 2px 20px #a08e7a;
    height: 65em;
}

.nf-asnwer-score{
    display: hidden;
}