


#assignment-container{
    background-color: var(--background-color);

    padding: 2em;
    width: 85%;
    margin: 2em auto;
    border-radius: 4px;
    box-shadow: 2px 2px 20px rgb(218, 218, 218) inset;
}

/* #assignment-container button{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--highlight-color);
    background-color: rgba(255, 255, 255, 0);
    padding: .5em;
    border-radius: 20px;
    border: 3px solid var(--highlight-color);

    cursor: pointer;

} */

.nf-assignment-score{
    box-shadow: 2px 2px 20px #a08e7a;
    height: 65em;
}

.nf-answer-score{
    display: hidden;
}

#error-navigation-buttons{
    background-color: var(--background-color-secondary);
    border-radius: 10px;
    width: 50%;

    margin: 0 auto;
    
}

#error-navigation-buttons h2{
    color: var(--white-text);
    background-color: var(--dark-accent);
    padding: .25em 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    margin: 0;
}


.assignment-score-passed{
    box-shadow: 2px 2px 40px var(--passed-color);
  }





#submit-assignment{
    background-color: var(--background-color-secondary);
    padding: .66em;
}

#submit-assignment h2{
    color: var(--highlight-color);
}