


#assignment-container{
    background-color: var(--background-color);
    
    padding: 2em;
    width: 93%;
    margin: 2em auto;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 20px var(--dark-accent) inset;
    cursor: auto;

    color: var(--dark-accent);
}

#assignment-container button{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--highlight-color);
    background-color: rgba(255, 255, 255, 0);
    padding: .5em;
    border-radius: 20px;
    border: 3px solid var(--highlight-color);

    cursor: pointer;

}


.nf-assignment-score{
    box-shadow: 2px 2px 20px #a08e7a;
    height: 45em;
}

.nf-answer-score{
    display: hidden;
}


#submit-assignment, #error-navigation-buttons{
    background-color: #DDDDD8;
    color: black;
    /* padding: .66em; */
    margin: 0 auto;
}


#error-navigation-buttons h2, #sign-and-submit-form h2{
    color: var(--white-text);
    background-color: var(--dark-accent);
    padding: .25em 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    margin: 0;
}


.assignment-score-passed{
    box-shadow: 2px 2px 40px var(--passed-color);
  }







#submit-assignment h2{
    /* color: var(--highlight-color); */
}