

.tutorial-container{
    width: 85%%;
    margin: 0 auto;
}

.tutorial-banner{
    display: grid;
    grid-template-columns: 2em auto;
    text-align: left;
    margin: 1em auto;

    cursor: pointer;

}

.tutorial-section-heading{
    background-color: var(--background-color-secondary);
}

.toggle-expand{
    background-color: var(--dark-accent);
    color: var(--white-text);
}