input, select, textarea{
    border-radius: 4px;
    border: none;

    font-size: 1.5em;
    
    margin: 0.25em 0;

    color: var(--dark-accent);
}

textarea{
    resize: none;
    padding: .66em;
}

input[type="submit"]{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    
    padding: 0.25em;
    margin: 1em;
    box-shadow: 2px 2px 8px var(--dark-accent);
    
    cursor: pointer;
}

input[type="text"], input[type="number"]{
    box-shadow: 2px 2px 8px var(--dark-accent);
    text-align: center;
}

select{
    cursor: pointer;
    box-shadow: 2px 2px 8px var(--dark-accent);
}

label{
    font-size: 1.5em;
    margin-bottom: 1em;
}
