:root{
  --background-color: #f1f1ec;
  --background-color-secondary: #acaca5;
  --highlight-color: rgb(245, 104, 65);
  --white-text: whitesmoke;
  --dark-accent: #252424;
  --passed-color: #79e479;
}


body{
  background-color: #DDDDD8;
  text-align: center;

  font-size: 1.25em;
}


.App{
  width: 90%;
  margin: 0 auto 3em;
}

/* TEST CSS */




#copy-link{
  width: 90%;
  height: 5em;
  margin: 0 auto;
}








textarea{
  font-size: 1.5em;
  width: 100%;
}

input[type = 'checkbox']{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    margin-right: 1em;
}


.tutorial-section h1{
  display: inline;
  transform: rotate(45deg);
}