:root{
  --background-color: #E9E9E5;
  --highlight-color: rgb(245, 104, 65);
  --white-text: whitesmoke;
  --dark-accent: #252424;
}


body{
  background-color: #DDDDD8;
  text-align: center;

  font-size: 1.5em;
}




/* TEST CSS */


#main-nav-banner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: var(--dark-accent);
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}


#main-nav-banner a{
  
  /* font-size: 1.5em; */
  color: var(--white-text);
  border: 2px solid var(--white-text);

  text-decoration: none;
  font-weight: 600;
  
  border-radius: 8px;
  padding: .66em;
}


#copy-link{
  width: 90%;
  height: 5em;
  margin: 0 auto;
}


.nf-interactive-passed{
  box-shadow: 2px 2px 10px rgb(40, 233, 40);
}



#submit-assignment{
  background-color: rgb(209, 255, 209);
  padding: 2em;
}

textarea{
  font-size: 1.5em;
}